<div class="footer">
	<div class="container">
		<div class="footer_top">
			<div class="footer_text">
				<h3 class="heading footer_heading">
					Intersted to woek with our team?
				</h3>

				<p class="text text_footer">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
					labore et dolore magna
					aliqua. Ut enim ad minim veniam.
				</p>
			</div>

			<a href="#" class="footer_button">Let's Talk</a>
		</div>
	</div>

	<hr>

	<div class="container">
		<div class="footer_bottom">
			<ul class="footer_info">
				<li class="footer_list footer_list_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
				<li class="footer_list footer_list_phone">+7-812-7313-4321</li>
				<li class="footer_list footer_list_email">hello.site@gmail.com</li>
			</ul>

			<div class="footer_copy">
				<p class="text footer_copy_text">2021 All rights reserved.</p>
			</div>
		</div>
	</div>
</div>