<div class="container">
	<ul class="header">
		<li><a asp-controller="Home" asp-action="Index"><img src="~/images/logo.svg" alt="logo"></a></li>
		<li><a asp-controller="Home" asp-action="Contacts"><img src="~/images/ContactsIcon.svg" alt="contacts"></a></li>
	</ul>
</div>