*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.top{
    min-height: 694px;
    background: 
    linear-gradient(
        0deg,
         #EBF3FB 8.84%, 
         rgba(152, 195, 232, 0) 31.12%);
}

.content_box{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}

.top_info{
    padding-top: 115px;
    padding-bottom: 140px;
    flex-grow: 1;
    background-image: url(../images/HomeTitleImage.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
}

.heading-top{
    width: 510px;
    font-size:64px;
    font-weight: 300;
    color: rgb(49, 75, 122);
    line-height: 74px;
    letter-spacing: 0.04em;
    padding-bottom: 32px;
}

.top_text{
    width: 425px;
}

.top_button{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

.what-we-do{
    padding-top: 64px;
}

.heading{
    font-size: 36px;
    text-align: center;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.card-box{
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 64px;
}

.card {
    background: #FFFFFF;
    box-shadow: 5px 20px 50px #1070b1;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.product-card {
    width: 359px;
    padding: 44px 32px;
}

.card_img{
    align-self: center;
    margin-bottom: 51.38px;
}

.heading-mini{
    color: #1F3F68;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.text{
    font-size: 16px;
    line-height: 26px;
    color: rgb(49, 75, 122);
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.card_link{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
    margin-top: 29.8px;
}

.text_project{
    width: 75%;
    margin: 32px auto 64px;
    text-align: center;
    color: #222222;
    opacity: 1;
}

.project_item{
    position: relative;
    flex-grow: 1;
}

.project_img{
    width: 100%;
}

.project_parent{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 32px;
}

.project_item_margin{
    margin-right: 32px;
}

.project_text{
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}

.project_text_mini{
    top: 32px;
    left: 32px;
    right: auto;
    font-size: 28px;
    text-align: left;
}

.footer{
    margin-top: 112px;
    padding-top: 91px;
    padding-bottom: 64px;
    background: #316099;
}

.footer_top{
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer_text{
    width: 495px;
}

.footer_heading{
    width: 340px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 32px;
}

.text_footer{
    color: #ffffff;
}

.footer_button{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    padding: 15px 50px;
    text-decoration: none;
}

hr{
    opacity: .4;
}

.footer_info{
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.footer_list{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    flex-grow: 1;
    flex-basis: 33.3333%;
    list-style-type: none;
    display: flex;
    margin-right: 32px;
}

.footer_list_text::before {
    content: 'A.';
    display: block;
    margin-right: 16px;
}

.footer_list_phone::before {
    content: 'T.';
    display: block;
    margin-right: 16px;
}

.footer_list_email::before {
    content: 'E.';
    display: block;
    margin-right: 16px;
}

.footer_copy{
    margin-top: 64px;
}

.footer_copy_text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

.input-text{
    border: 1px solid rgb(49, 75, 122);
    box-sizing: border-box;
    border-radius: 6px;
    opacity: 0.4;
}

.heading-contacts{
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.callback{
    display: flex;
    justify-content: space-between;
}

.button-submit{
    background: rgb(95, 145, 236);
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

@media (max-width: 1024px){
    .container{
        padding-left: 32px;
        padding-right: 32px;
    }

    .top_info{
        background-position: right 280px;
    }

    .card-box{
        flex-direction: column;
        align-items: center;
    }

    .card{
        margin-bottom: 32px;
    }

    .footer{
        padding-top: 48px;
    }

    .footer_button{
        padding: 4px 31px;
    }

    .footer_info{
        flex-direction: column;
    }

    .footer_list{
        margin-bottom: 24px;
    }
}

@media (max-width: 667px){
    .header{
        padding-top: 24px;
    }

    .top{
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }

    .top_info{
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }

    .heading-top{
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        text-align: center;
    }

    .top_text{
        width: 100%;
        text-align: center;
    }

    .top_button{
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }

    .heading{
        font-size: 24px;
        line-height: 28px;
    }

    .what-we-do{
        padding-top: 48px;
    }

    .card-box{
        padding-top: 32px;
    }

    .card{
        width: 100%;
    }

    .text_project{
        width: 100%;
    }

    .project_text{
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .project_text_mini{
        left: 16px;
    }

    .project_parent{
        flex-direction: column;
        margin-top: 16px;
    }

    .project_item_margin{
        margin-right: 0;
        margin-bottom: 16px;
    }

    .footer{
        padding-top: 18px;
        padding-bottom: 32px;
    }

    .footer_heading{
        width: 75%;
        margin: 0 auto 32px;
        text-align: center;
    }

    .footer_top{
        flex-direction: column;
        padding-bottom: 41px;
    }

    .text_footer{
        text-align: center;
        margin-bottom: 40px;
    }

    .footer_text{
        width: 100%;
    }

    .footer_list{
        margin-bottom: 18px;
    }

    .footer_copy{
        margin-top: 32px;
    }
}